html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    background: transparent;
}
#header {
    padding: 20px 0px 0px 0px;
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #e2f1ca;
}
#header > .container {
    position: relative;
    margin-bottom: -10px;
}
#header > .container > * {
    margin-bottom: 10px;
}
#header > .container {
    width: 940px;
    margin: 0 auto;
}
body #logo {
    position: relative;
    display: inline-block;
    width: 57.49999999999999%;
    margin-left: 0%;
    vertical-align: top;
}
body #phone {
    position: relative;
    display: inline-block;
    width: 40.5%;
    margin-left: 2%;
    vertical-align: top;
    margin-top: 60px;
}
body #promo {
    position: relative;
    display: block;
    vertical-align: top;
}
#header #promo {
    margin-bottom: -30px;
}
#promo {
    padding: 0px;
    min-height: 30px;
    border-left: 2px solid #9acf45;
    border-right: 2px solid #9acf45;
    border-top: 2px solid #9acf45;
    border-bottom: 2px solid #9acf45;
    border-radius: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #b7dd7a;
}
#promo > .container {
    position: relative;
    margin-bottom: -10px;
}
#promo > .container > * {
    margin-bottom: 10px;
}
body #promo_image {
    position: relative;
    display: inline-block;
    width: 66%;
    margin-left: 0%;
    vertical-align: top;
}
body #promo_text {
    position: relative;
    display: inline-block;
    width: 32%;
    margin-left: 2%;
    vertical-align: top;
    margin-top: 30px;
}
#sheet {
    padding: 60px 20px 20px 20px;
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #ffffff;
}
#sheet > .container {
    position: relative;
    margin-bottom: -10px;
}
#sheet > .container > * {
    margin-bottom: 10px;
}
#sheet > .container {
    width: 940px;
    margin: 0 auto;
}
body #reasons {
    position: relative;
    display: inline-block;
    width: 57.49999999999999%;
    margin-left: 0%;
    vertical-align: top;
}
body #apply_now {
    position: relative;
    display: inline-block;
    width: 40.5%;
    margin-left: 2%;
    vertical-align: top;
}
#apply_now {
    padding: 20px;
    min-height: 30px;
    border-left: 2px solid #a66c07;
    border-right: 2px solid #a66c07;
    border-top: 2px solid #a66c07;
    border-bottom: 2px solid #a66c07;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fce6bf;
}
#apply_now > .container {
    position: relative;
    margin-bottom: -10px;
}
#apply_now > .container > * {
    margin-bottom: 10px;
}
body #form_heading {
    position: relative;
    display: block;
    vertical-align: top;
}
body #id1390406260861 {
    position: relative;
    display: block;
    vertical-align: top;
}
body #id1390406260863 {
    position: relative;
    display: block;
    vertical-align: top;
}
body #id1390406260862 {
    position: relative;
    display: block;
    vertical-align: top;
}
body #id1390406260864 {
    position: relative;
    display: block;
    vertical-align: top;
}
#footer {
    padding: 40px 0px;
    min-height: 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #e2f1ca;
}
#footer > .container {
    position: relative;
    margin-bottom: -10px;
}
#footer > .container > * {
    margin-bottom: 10px;
}
#footer > .container {
    width: 940px;
    margin: 0 auto;
}
body #footer_text {
    position: relative;
    display: block;
    vertical-align: top;
}
#footer #footer_text {
    margin-bottom: -0px;
}
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.5em;
}
body a {
    color: #337;
    text-decoration: none;
}
body a:hover {
    color: #242453;
    text-decoration: underline;
}
body p {
    margin: 0 0 1.5em;
}
body p:last-child {
    margin-bottom: 0;
}
body .alignleft {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
body .alignright {
    float: right;
    margin: 0 0 0.5em 0.5em;
}
body h1 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.6000000000000001em;
    line-height: 1.2em;
}
body h2 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 0.75em;
    line-height: 1.5em;
}
body h3 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1em;
}
body h4 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.1666666666666667em;
    margin-bottom: 1.2857142857142856em;
    line-height: 1.2857142857142858em;
}
body h5 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 1.5em;
}
body h6 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.9166666666666666em;
    margin-bottom: 1.6363636363636362em;
    line-height: 1.6363636363636365em;
}
body ul, body ol {
    padding: 0;
    margin: 0 0 1em 2em;
}
body ul ul, body ul ol, body ol ul, body ol ol {
    margin-bottom: 0;
}
body ul {
    list-style: disc;
}
body ol {
    list-style: decimal;
}
body hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid white;
}
body strong {
    font-weight: bold;
}
body em {
    font-style: italic;
}
body blockquote {
    padding: 0 0 0 1.5em;
    margin: 0 0 1.5em 1.5em;
    border-left: 5px solid #9acf45;
}
body .dropcap {
    float: left;
    font-size: 52px;
    color: #3b5315;
    line-height: 52px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
}
.alert {
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    color: #333;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    padding: 1em 2em 1em 1em;
    background-color: #eee;
    font-size: 1.2em;
}
form > .alert {
    margin-bottom: 1em;
}
.alert .close {
    position: relative;
    top: -7px;
    right: -21px;
    line-height: 18px;
    float: right;
    font-size: 0;
    display: inline-block;
    text-decoration: inherit;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot');
    src: url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.woff') format('woff'),
url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.ttf') format('truetype'),
url('http://uxcandy.com/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
.alert .close:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f00d";
}
.alert .close:before {
    color: #aaa;
    font-size: 14px;
}
.alert.error {
    color: #900;
    border-color: #a99;
    background: #faa;
}
.alert.notice {
    color: #770;
    border-color: #aa9;
    background: #ffa;
}
.alert.success {
    color: #070;
    border-color: #9a9;
    background: #afa;
}
#logo {
    display: block;
    background: url(http://uxcandy.com/~boomyjee/lpcandy/upload/LPCandy/files/1/logo/1390388779_52dfa62b823a6.png) no-repeat 0 50%;
    width: 363px;
    height: 174px;
    text-indent: -999em;
}
#promo {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
#apply_now {
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    margin: 0 0 1.5em;
    position: relative;
}
#apply_now label {
    display: block;
    margin-bottom: 0.4em;
}
#apply_now input, #apply_now textarea, #apply_now select {
    display: inline-block;
    width: 100%;
    height: 3.5em;
    padding: 1em;
    margin-bottom: 0.8em;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#apply_now textarea {
    height: auto;
}
#apply_now input[type="file"] {
    height: 2.1em;
    line-height: 2.1em;
    margin-right: 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#f5f5f5,#eee));
    border-color: #eee #eee #c8c8c8;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
#apply_now input[type="image"], #apply_now input[type="checkbox"], #apply_now input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0.3em 0 0;
    line-height: normal;
    border: 0;
    cursor: pointer;
    border-radius: 0 e("\0/");
}
#apply_now input, #apply_now textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -ms-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
#apply_now input:focus, #apply_now textarea:focus {
    border-color: rgba(82,168,236,.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    outline: 0;
    outline: thin dotted \9;
}
#apply_now input[type="file"]:focus, #apply_now input[type="checkbox"]:focus, #apply_now select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: none;
}
#apply_now span.error {
    color: #cc0000;
    position: relative;
    display: block;
    top: -0.8em;
    font-style: italic;
    margin-bottom: -1000em;
    top: -1.4em;
    float: right;
    padding: 0.1em 0.3em;
    background: white;
    border: 1px solid #cc0000;
    border-radius: 0.3em;
}
#apply_now input.error {
    background: #ffcccc;
}
#apply_now .control-group {
    margin-bottom: 0.8em;
}
#apply_now .control-group label {
    display: inline-block;
    margin: 0.7em 1em 0 0;
}
#apply_now .control-group p {
    color: #777;
    margin: 0 0 -0.6em;
    position: relative;
    top: -0.6em;
}
#apply_now input + fieldset {
    margin-top: 1em;
}
#apply_now fieldset .legend, #apply_now fieldset legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
#form_heading .alignleft {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
#form_heading .alignright {
    float: right;
    margin: 0 0 0.5em 0.5em;
}
#form_heading h1 {
    color: #4f6f1c;
}
#form_heading h2 {
    color: #4f6f1c;
}
#form_heading h3 {
    color: #4f6f1c;
}
#form_heading h4 {
    color: #4f6f1c;
}
#form_heading h5 {
    color: #4f6f1c;
}
#form_heading h6 {
    color: #4f6f1c;
}
#form_heading hr {
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid white;
}
#form_heading strong {
    font-weight: bold;
}
#form_heading em {
    font-style: italic;
}
#form_heading blockquote {
    border-left: 5px solid #9acf45;
}
#form_heading .dropcap {
    float: left;
    font-size: 52px;
    color: #3b5315;
    line-height: 52px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
}
#id1390406260864 {
    margin-top: 20px;
}
#id1390406260864 button, #id1390406260864 a.button {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    width: auto;
    height: auto;
    line-height: 1em;
    font-size: 30px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 2em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #d58a09;
    background-image: -moz-linear-gradient(top, #e8970a, #b77708);
    background-image: -ms-linear-gradient(top, #e8970a, #b77708);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e8970a), to(#b77708));
    background-image: -webkit-linear-gradient(top, #e8970a, #b77708);
    background-image: -o-linear-gradient(top, #e8970a, #b77708);
    background-image: linear-gradient(top, #e8970a, #b77708);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#e8970a,#b77708));
    border-color: #b77708 #b77708 #6e4805;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
    position: relative;
}
#id1390406260864 button.small, #id1390406260864 a.button.small {
    font-size: 0.9em;
}
#id1390406260864 button.large, #id1390406260864 a.button.large {
    padding: 0.7em 1.5em;
}
#id1390406260864 button.disabled, #id1390406260864 button[disabled], #id1390406260864 a.button.disabled, #id1390406260864 a.button[disabled] {
    cursor: default;
}
#id1390406260864 button:before, #id1390406260864 a.button:before {
    content: "";
    position: absolute;
    left: 0.3em;
    right: 0.3em;
    top: 2px;
    height: 0.6em;
    border-radius: 2em 2em 2em 2em;
    background-color: rgba(255, 255, 255, 0.32);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.2)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.2)));
    background-color: rgba(0, 0, 0, 0);
}
#id1390406260864 button:hover, #id1390406260864 a.button:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #e8970a;
}
#id1390406260864 button.active, #id1390406260864 button:active, #id1390406260864 a.button.active, #id1390406260864 a.button:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #e8970a;
}
#id1390406260864 button.disabled, #id1390406260864 button[disabled], #id1390406260864 a.button.disabled, #id1390406260864 a.button[disabled] {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #e8970a;
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#id1390406260864 button.small, #id1390406260864 a.button.small {
    position: relative;
}
#id1390406260864 button.small:before, #id1390406260864 a.button.small:before {
    content: "";
    position: absolute;
    left: 0.6em;
    right: 0.6em;
    top: 2px;
    height: 0.6em;
    border-radius: 2em 2em 2em 2em;
    background-color: rgba(255, 255, 255, 0.32);
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, 0.4)), to(rgba(255, 255, 255, 0.2)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.2)));
    background-color: rgba(0, 0, 0, 0);
}
#id1390406260864 > * {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
