html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.5em;
}
body a {
    color: #337;
    text-decoration: none;
}
body a:hover {
    color: #242453;
    text-decoration: underline;
}
body p {
    margin: 0 0 1.5em;
}
body p:last-child {
    margin-bottom: 0;
}
body .alignleft {
    float: left;
    margin: 0 0.5em 0.5em 0;
}
body .alignright {
    float: right;
    margin: 0 0 0.5em 0.5em;
}
body h1 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2.5em;
    margin-bottom: 0.6000000000000001em;
    line-height: 1.2em;
}
body h2 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 2em;
    margin-bottom: 0.75em;
    line-height: 1.5em;
}
body h3 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin-bottom: 1em;
    line-height: 1em;
}
body h4 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1.1666666666666667em;
    margin-bottom: 1.2857142857142856em;
    line-height: 1.2857142857142858em;
}
body h5 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 1em;
    margin-bottom: 1.5em;
    line-height: 1.5em;
}
body h6 {
    font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    font-size: 0.9166666666666666em;
    margin-bottom: 1.6363636363636362em;
    line-height: 1.6363636363636365em;
}
body ul, body ol {
    padding: 0;
    margin: 0 0 1em 2em;
}
body ul ul, body ul ol, body ol ul, body ol ol {
    margin-bottom: 0;
}
body ul {
    list-style: disc;
}
body ol {
    list-style: decimal;
}
body hr {
    margin: 1.5em 0;
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid white;
}
body strong {
    font-weight: bold;
}
body em {
    font-style: italic;
}
body blockquote {
    padding: 0 0 0 1.5em;
    margin: 0 0 1.5em 1.5em;
    border-left: 5px solid #316394;
}
body .dropcap {
    float: left;
    font-size: 52px;
    color: #101f2f;
    line-height: 52px;
    text-transform: uppercase;
    margin: 0 5px 0 0;
}
form {
    margin: 0 0 1.5em;
    position: relative;
}
form label {
    display: block;
    margin-bottom: 0.4em;
}
form input, form textarea, form select {
    display: inline-block;
    width: 100%;
    height: 2.1em;
    padding: 0.3em;
    margin-bottom: 0.8em;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
form textarea {
    height: auto;
}
form input[type="file"] {
    height: 2.1em;
    line-height: 2.1em;
    margin-right: 0;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    background-color: #f2f2f2;
    background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
    background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#eee));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
    background-image: -o-linear-gradient(top, #f5f5f5, #eee);
    background-image: linear-gradient(top, #f5f5f5, #eee);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#f5f5f5,#eee));
    border-color: #eee #eee #c8c8c8;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
form input[type="image"], form input[type="checkbox"], form input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 0.3em 0 0;
    line-height: normal;
    border: 0;
    cursor: pointer;
    border-radius: 0 e("\0/");
}
form input, form textarea {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -ms-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;
}
form input:focus, form textarea:focus {
    border-color: rgba(82,168,236,.8);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
    outline: 0;
    outline: thin dotted \9;
}
form input[type="file"]:focus, form input[type="checkbox"]:focus, form select:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    outline: none;
}
form span.error {
    color: #cc0000;
    position: relative;
    display: block;
    top: -0.8em;
    font-style: italic;
}
form input.error {
    background: #ffcccc;
}
form .control-group {
    margin-bottom: 0.8em;
}
form .control-group label {
    display: inline-block;
    margin: 0.7em 1em 0 0;
}
form .control-group p {
    color: #777;
    margin: 0 0 -0.6em;
    position: relative;
    top: -0.6em;
}
form input + fieldset {
    margin-top: 1em;
}
form fieldset .legend, form fieldset legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 0.4em;
    font-size: 1.3em;
    line-height: 1.3em;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
}
form button[type="submit"] {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    width: auto;
    height: auto;
    line-height: 1em;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #6296cb;
    background-image: -moz-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: -ms-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#71a0d0), to(#4b87c3));
    background-image: -webkit-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: -o-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: linear-gradient(top, #71a0d0, #4b87c3);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#71a0d0,#4b87c3));
    border-color: #4b87c3 #4b87c3 #306191;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
    font-size: 1.4em;
    line-height: 1.2em;
}
form button[type="submit"].small {
    font-size: 0.9em;
}
form button[type="submit"].large {
    padding: 0.7em 1.5em;
}
form button[type="submit"].disabled, form button[type="submit"][disabled] {
    cursor: default;
}
form button[type="submit"]:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #71a0d0;
}
form button[type="submit"].active, form button[type="submit"]:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #71a0d0;
}
form button[type="submit"].disabled, form button[type="submit"][disabled] {
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
form input[type="text"], form select, form textarea {
    max-width: 600px;
}
table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapsed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
table th, table td {
    padding: 8px;
    text-align: left;
    border-top: 1px solid #ddd;
}
table th {
    font-weight: bold;
    vertical-align: bottom;
}
table td {
    vertical-align: top;
}
table thead:first-child tr th, table thead:first-child tr td {
    border-top: 0;
}
table tbody + tbody {
    border-top: 2px solid #ddd;
}
table th + th, table td + td, table th + td, table td + th {
    border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th, table tbody:first-child tr:first-child th, table tbody:first-child tr:first-child td {
    border-top: 0;
}
table thead:first-child tr:first-child th:first-child, table tbody:first-child tr:first-child td:first-child {
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
    border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child, table tbody:first-child tr:first-child td:last-child {
    -webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child, table tbody:last-child tr:last-child td:first-child {
    -webkit-border-radius: 0 0 0 4px;
    -moz-border-radius: 0 0 0 4px;
    border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child, table tbody:last-child tr:last-child td:last-child {
    -webkit-border-radius: 0 0 4px 0;
    -moz-border-radius: 0 0 4px 0;
    border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td, table tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
.message, .alert {
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    color: #333;
    border: 1px solid #aaa;
    border-radius: 0.3em;
    padding: 1em 2em 1em 1em;
    background-color: #eee;
    font-size: 1.2em;
}
form > .message, form > .alert {
    margin-bottom: 1em;
}
.message .close, .alert .close {
    position: relative;
    top: -7px;
    right: -21px;
    line-height: 18px;
    float: right;
    font-size: 0;
    display: inline-block;
    text-decoration: inherit;
}
@font-face {
    font-family: 'FontAwesome';
    src: url('/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot');
    src: url('/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
url('/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.woff') format('woff'),
url('/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.ttf') format('truetype'),
url('/~boomyjee/templater/lib/modules/core/style/tea/common/../../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
.message .close:before, .alert .close:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f00d";
}
.message .close:before, .alert .close:before {
    color: #aaa;
    font-size: 14px;
}
.message.error, .alert.error {
    color: #900;
    border-color: #a99;
    background: #faa;
}
.message.notice, .alert.notice {
    color: #770;
    border-color: #aa9;
    background: #ffa;
}
.message.success, .alert.success {
    color: #070;
    border-color: #9a9;
    background: #afa;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
    position: relative;
}
body {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAANklEQVQIW2O8e/fufwYGhgtMTEyB//7928B49+7dCwwMDPowQcb79+8rgGRggmAVTExMATBBAOjoHCXWaHqyAAAAAElFTkSuQmCC);
}
#header {
    background: white;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAjklEQVQ4T63UMQ6AIAwFUDs7Ono448nkcrjhhmsNmhgRKC2UteGFhP8L9jhxKB1EM0/j+h/vzhsEWHLXgATDDSFaB4UoDxSgfJCJykAGKgcrKFARKMaJQCHMNNEb1ERfUAuNQA00AXtRsM5v0gVA/f6TQ+ECqIOMBpCZ/Azjpii8NK1eJ5rvcgdaXg6N6AXT19ALu7QtiAAAAABJRU5ErkJggg==);
    border-top: 10px solid #333;
    padding: 20px 0;
}
#header .in {
    padding: 0 20px;
    margin: 0 auto;
    overflow: hidden;
}
#header .in #logo {
    display: block;
    background: url(http://uxcandy.com/~maxtun/lpcandy/view/assets/images/lpcandy.png) no-repeat 0 50%;
    width: 135px;
    height: 103px;
    text-indent: -999em;
    float: left;
}
#header .in #cloud {
    border: 3px solid #007;
    border-radius: 120px 120px 120px 120px;
    width: 160px;
    color: #333333;
    margin: 15px 0 0 210px;
    padding: 20px;
    position: relative;
    text-align: center;
    font-size: 16px;
    font-style: italic;
}
#header .in #cloud, #header .in #cloud:after, #header .in #cloud:before {
    border: 3px solid #71a0d0;
    background: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.7);
    z-index: 10;
    content: "";
    display: block;
}
#header .in #cloud:after {
    position: absolute;
    left: -100px;
    bottom: 50px;
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
#header .in #cloud:before {
    position: absolute;
    left: -63px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
#page {
    padding: 0px 0px 63px 250px;
    box-sizing: border-box;
    min-height: 100%;
}
#menu {
    z-index: 1;
    position: fixed;
    background: white;
    left: 0;
    width: 250px;
    top: 0px;
    bottom: 0px;
    -webkit-box-shadow: 2px 0px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 0px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 0px 5px rgba(0,0,0,0.2);
}
#menu ul {
    margin: 0;
}
#menu ul li a {
    display: block;
    font-size: 1.2em;
    padding: 0.7em 1em;
    border-right: none;
    border-left: none;
    text-decoration: none;
}
#menu ul li #logo {
    display: block;
    background: url(http://uxcandy.com/~maxtun/lpcandy/view/assets/images/lpcandy.png) no-repeat 0 50%;
    width: 135px;
    height: 103px;
    text-indent: -999em;
    margin: 10px auto;
    border: none;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#menu ul a:hover, #menu ul li.current-menu-item a {
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3) inset;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3) inset;
}
#logged_info {
    background: none repeat scroll 0 0 #333333;
    border-bottom: 2px solid #777777;
    border-left: 2px solid #777777;
    border-radius: 0 0 0 20px;
    margin: 0 !important;
    padding: 5px 10px 5px 20px;
    position: absolute;
    right: 0;
    top: 0;
    color: #aaa;
    white-space: nowrap;
    z-index: 50000;
}
#logged_info a {
    color: #FFFFFF;
    text-decoration: none;
}
#content > h3 {
    background: #333;
    color: white;
    border-top: 5px solid #71a0d0;
    margin: 0px;
    padding: 10px 20px;
}
#content > form > table, #content > section > form > fieldset {
    background: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
}
#content > form {
    margin: 10px 10px 0;
}
#content > section > form > fieldset {
    padding: 10px;
    margin: 10px 10px 0;
}
#footer {
    position: absolute;
    bottom: 0px;
    left: 250px;
    right: 0px;
    padding: 10px 20px;
    border-top: 5px solid #71a0d0;
    background: #333;
    color: #aaa;
    text-align: center;
}
form {
    padding: 0;
}
table.list {
    border-radius: 0;
    margin-bottom: 1em;
}
table.list td, table.list th {
    vertical-align: middle;
}
.page-title {
    line-height: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #eee;
}
.page-title .page_actions {
    font-size: 12px;
    line-height: 14px;
    margin-left: 1em;
}
.page-title .page_actions a {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    width: auto;
    height: auto;
    line-height: 1em;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #f1950a;
    background-image: -moz-linear-gradient(top, #ffa011, #dd8500);
    background-image: -ms-linear-gradient(top, #ffa011, #dd8500);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffa011), to(#dd8500));
    background-image: -webkit-linear-gradient(top, #ffa011, #dd8500);
    background-image: -o-linear-gradient(top, #ffa011, #dd8500);
    background-image: linear-gradient(top, #ffa011, #dd8500);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#ffa011,#dd8500));
    border-color: #dd8500 #dd8500 #915700;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
    text-decoration: none;
}
.page-title .page_actions a.small {
    font-size: 0.9em;
}
.page-title .page_actions a.large {
    padding: 0.7em 1.5em;
}
.page-title .page_actions a.disabled, .page-title .page_actions a[disabled] {
    cursor: default;
}
.page-title .page_actions a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #ffa011;
}
.page-title .page_actions a.active, .page-title .page_actions a:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #ffa011;
}
.page-title .page_actions a.disabled, .page-title .page_actions a[disabled] {
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
td.preview {
    text-align: right;
    width: 1px;
    padding: 20px;
}
td.title {
    padding: 20px;
}
td.preview img {
    border: 1px solid #ddd;
}
td.title h3 {
    margin-bottom: 0.3em;
}
td.title h3 a {
    font-size: 12px;
}
.child td.title h3 {
    font-size: 14px;
}
.actions {
    margin-top: 0.5em;
}
.actions a {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    width: auto;
    height: auto;
    line-height: 1em;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #6296cb;
    background-image: -moz-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: -ms-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#71a0d0), to(#4b87c3));
    background-image: -webkit-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: -o-linear-gradient(top, #71a0d0, #4b87c3);
    background-image: linear-gradient(top, #71a0d0, #4b87c3);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#71a0d0,#4b87c3));
    border-color: #4b87c3 #4b87c3 #306191;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
.actions a.small {
    font-size: 0.9em;
}
.actions a.large {
    padding: 0.7em 1.5em;
}
.actions a.disabled, .actions a[disabled] {
    cursor: default;
}
.actions a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #71a0d0;
}
.actions a.active, .actions a:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #71a0d0;
}
.actions a.disabled, .actions a[disabled] {
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.actions a.delete {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    width: auto;
    height: auto;
    line-height: 1em;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #960000;
    background-image: -moz-linear-gradient(top, #a00, #770000);
    background-image: -ms-linear-gradient(top, #a00, #770000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a00), to(#770000));
    background-image: -webkit-linear-gradient(top, #a00, #770000);
    background-image: -o-linear-gradient(top, #a00, #770000);
    background-image: linear-gradient(top, #a00, #770000);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#a00,#770000));
    border-color: #770000 #770000 #2a0000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
.actions a.delete.small {
    font-size: 0.9em;
}
.actions a.delete.large {
    padding: 0.7em 1.5em;
}
.actions a.delete.disabled, .actions a.delete[disabled] {
    cursor: default;
}
.actions a.delete:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #a00;
}
.actions a.delete.active, .actions a.delete:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: #a00;
}
.actions a.delete.disabled, .actions a.delete[disabled] {
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.actions a, .actions a:hover {
    text-decoration: none;
}
.actions a.design {
    font-size: 1.4em;
    line-height: 1.2em;
}
.child .actions a {
    font-size: 1.0em;
}
p.actions a {
    display: inline-block;
    padding: 0.3em 0.7em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    white-space:nowrap;
    width: auto;
    height: auto;
    line-height: 1em;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 0.3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background-color: #006c00;
    background-image: -moz-linear-gradient(top, green, #004d00);
    background-image: -ms-linear-gradient(top, green, #004d00);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(green), to(#004d00));
    background-image: -webkit-linear-gradient(top, green, #004d00);
    background-image: -o-linear-gradient(top, green, #004d00);
    background-image: linear-gradient(top, green, #004d00);
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",green,#004d00));
    border-color: #004d00 #004d00 #000000;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0, 0, 0, 0.25);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}
p.actions a.small {
    font-size: 0.9em;
}
p.actions a.large {
    padding: 0.7em 1.5em;
}
p.actions a.disabled, p.actions a[disabled] {
    cursor: default;
}
p.actions a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: green;
}
p.actions a.active, p.actions a:active {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    background: green;
}
p.actions a.disabled, p.actions a[disabled] {
    opacity: 0.65;
    filter: e(%("alpha(opacity=%d)", 65));
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.template-select {
    *zoom: 1;
}
.template-select:before, .template-select:after {
    display: table;
    content: "";
}
.template-select:after {
    clear: both;
}
.template-select label {
    width: 240px;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    padding-top: 160px;
    text-align: center;
}
.template-select label img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 200px;
    margin-left: -100px;
}
