.blue {
  background-color: #0187bc;
}

.green {
  background-color: #3e9802;
}

.orange {
  background-color: #FD6F00;
}

.purple {
  background-color: #8c33d2;
}

.purple_light {
  background-color: #9581bf;
}

.rose {
  background-color: #f372a4;
}

.red {
  background-color: #ce0707;
}

.yellow {
  background-color: #ffc415;
}

.hidden {
  display: none !important;
}

.error_input {
  border: 1px solid #EA493C !important;
}

ul li {
    list-style-type: square;
}

ol li {
    list-style-type: decimal;
}

.error{
    color: #EA493C !important;
    font-family: "Arial";
    font-size: 10px;
    line-height: 14px;
    padding: 0;
    height: 0;
    text-align: right;
}

.clear {
  zoom: 1;
  min-height: 5px;
}

.container-fluid {
    border-bottom: 1px solid #e0e0e0;
}

.btn_wrap {
    display: inline-block;
}

a.btn_form {
    display: block;
}

.btn_wrap a.btn_form {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;          
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  border-radius: 5px;
  padding: 7px 45px;
  text-decoration: none;
  text-align: center;
}


/* policy AlertifyJS dialog */
.alertify .ajs-body .ajs-content .policy_info_alertify p {
  display: block;
  margin: 1.0em 0;
}

.policy_info_alertify{
    font-family: "Arial",sans-serif;
    font-size: 14px;
    color: #333;
}

.policy_info_alertify h2 {
    display: block;
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

.policy_info_alertify h3 {
  display: block;
  font-size: 1.17em;
  margin: 1.0em 0;
  font-weight: bold;
}

.policy_info_alertify h4 {
  display: block;
  margin: 1.33em 0;
  font-weight: bold;
}

.policy_info_alertify ul {
    margin: 0;
    padding-left: 18px;
}

.policy_info_alertify ul li {
    padding: 5px 0;
}

/* add position: relative after publishing*/
.order_5 .item > div, .benefits_2 .item > div, .benefits_3 .item > div, .text_block_6 .item > div{
    position: relative;
}

/* AlertifyJS dialog */
.ajs-dialog {
  background: linear-gradient(to bottom, #fffefc, #e6e6e6) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.ajs-body {
  padding: 0 32px;
}

/* form */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border;
}

.form {
  border-radius: 5px;
  background: #fffefc;
  background: -webkit-linear-gradient(top , #FFFEFC, #E6E6E6) no-repeat;
  background: -moz-linear-gradient(top , #FFFEFC, #E6E6E6) no-repeat;
  background: -o-linear-gradient(top , #FFFEFC, #E6E6E6) no-repeat;
  background: -ms-linear-gradient(top , #FFFEFC, #E6E6E6) no-repeat;
  background: linear-gradient(to bottom , #FFFEFC, #E6E6E6) no-repeat;
}

.form .form_fields label {
  color: #383838;
  display: block;
  font-family: "Arial";
  font-size: 14px;
  padding: 8px 0 6px;
  text-align: left;
}

.form .form_data .form_fields {
  text-align: left;
}

.form .form_data .form_fields .form_field {
  position: relative;
}

.form .form_fields label .field_title i {
  color: #e93130;
}

.form .form_title {
  color: #020202;
  font-family: "Arial";
  font-size: 21px;
  text-align: center;
}

.form .form_fields input::placeholder,
.form .form_fields textarea::placeholder
 {
    color: #ccc;
}

.form .form_fields input.form_field_text {
  height: 32px;
  padding: 0 6px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  color: #5b5b5b;
  font-family: "Arial";
  font-size: 16px;
  width: 100%;
}

.form .form_fields textarea.form_field_textarea {
  height: auto;
  padding: 9px 6px;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  color: #5b5b5b;
  font-family: "Arial";
  font-size: 16px;
  width: 100%;
  resize: vertical;
  min-height: 3em;
  display: block;
}

.form .form_submit {
  margin: 25px 0 0 0;
}

.form .form_submit button.form_field_submit, 
.form .form_submit a.btn_form {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15) inset;
  border: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;          
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Arial";
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  padding: 14px 10px 12px;
}

.btn_wrap a.btn_form:hover, .form .form_submit button.form_field_submit:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3) inset, 0 0 10px 2px rgba(0, 0, 0, 0.5) !important;
}

.form .form_submit button.form_field_submit div {
  display: block;
  width: 100%;
}

.form .form_submit button.form_field_submit div span {
  display: inline-block;
  text-align: center;
  width: 100%;
  border-radius: 3px;
}

.form .form_bottom {
  color: #a3a3a3;
  font-family: "Arial";
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
}

.form .form_fields select.form_field_select {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 0px 6px;
  height: 32px;
  border: 1px solid #E8E8E8;
  background-color: #FFF;
  color: #5B5B5B;
  font-family: "Arial";
  font-size: 16px;
  -moz-appearance: none;
  cursor: pointer;
  outline: 0px none;
}

.form .form_fields input.form_field_radio,
.form .form_fields input.form_field_checkbox {
    margin: 0;
    vertical-align: middle;
}

.form .form_fields .form_field_radio_value label {
  padding-top: 0px;
  line-height: 1.5em;
}

.form .form_fields label .desc {
  padding-bottom: 3px;
  font-size: 12px;
  line-height: 13px;
  font-family: "Arial";
  opacity: 0.7;
}

.form .form_fields label .field_title {
  padding-bottom: 2px;
  font-size: 14px;
  line-height: 15px;
  font-family: "Arial";
}

.form .form_fields input[type="file"] {
  width: 100%;
  color: #5B5B5B;
  font-size: 16px;
  font-family: "Arial";
}


/* form done */
.form_done_title {
  text-align: center;
  color: #020202;
  font-family: "Arial";
  font-size: 21px;
}

.form_done_text {
  text-align: center;
  color: #5e5e5e;
  font-family: "Arial";
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
}