@import "style/font-awesome.css";

#logged_info {    
    padding: 5px 10px;
    text-align: right;
    line-height: 18px;
    height: 17px;
    position: fixed;
    top: 15px;
    right: 110px;
    font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    font-size: 12px;
    z-index: 100;
}

#logged_info a {
    color: #333377;
    text-decoration: none;
}

.view-layout #logged_info {
    display: none !important;
}

.teacss-ui .ui-dialog-titlebar {
    background: #eee;
    color: #999;
    font-size: 16px;
    line-height: 24px;
    padding: 0 10px;
}

.teacss-ui .ui-dialog-titlebar .ui-button {
    border: none;
}

.teacss-ui .lp-icon-panel .combo-item {
    width: 40px;
    height: 40px;
    background-size: 30px 30px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.teacss-ui .lp-field-repeater .ui-repeater-item-title {
    padding: 5px 5px;
    font-size: 16px;
    line-height: 16px;
    display: block;
    color: #555;
}

.teacss-ui .lp-field-repeater .ui-repeater-item-title:before {
    margin-right: 0.4em;
}

.teacss-ui .lp-field-repeater .ui-repeater-item-title:hover span {
    text-decoration: underline;
}

.teacss-ui .lp-field-repeater .ui-repeater-item {
    margin-bottom: 2px;
}

.teacss-ui .lp-field-repeater .ui-repeater-item .ui-button {
    background: transparent !important;
    border: none;
    text-align: left;
}

.teacss-ui .lp-field-repeater .ui-repeater-item .ui-button span {
    padding: 0;
}

.teacss-ui .lp-add-field {
    width: 96px;
    height: 46px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    margin: 1px;
    text-align: center;
    display: inline-block;
    color: #555;
}

.teacss-ui .lp-add-field:before {
    font-size: 20px;
    margin: 5px 0;
    display: block;
}

.teacss-ui .lp-add-field:hover {
    background: #eee;
}