.teacss-ui .ui-form-repeater .ui-composite-label {
    width: 30%;
}

.teacss-ui .ui-form-repeater .ui-composite-label > .ui-label {
    min-width: 350px;
}

.teacss-ui .ui-form-repeater .ui-repeater-item-title {
    cursor: pointer;
    background: white;
    border-bottom: 1px solid #eee;
    padding: 1em;
}

.teacss-ui .ui-form-repeater .ui-repeater-item-content {
    display: none;
}

.teacss-ui .ui-form-repeater .expanded > .ui-repeater-item-content {
    display: block;
}


.teacss-ui .ui-form-repeater .item-label,
.teacss-ui .ui-form-repeater .item-name,
.teacss-ui .ui-form-repeater .item-type
{
    display: inline-block;
    width: 30%;
}