@font-face {
	font-family: 'Open Sans Light';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/openSansLigth.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans Bold';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/openSansBold.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	src: local('Open Sans'), local('OpenSans'), url(fonts/openSans.woff) format('woff');
}

@font-face {
    font-family: 'TeXGyreAdventor';
    font-weight: normal;
    font-style: normal;
    src: url('fonts/texgyreadventor_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor_regular.otf') format('opentype');
}