/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSansRegular.eot");
    src: url("fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansRegular.woff") format("woff"),
    url("fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
/* font-family: "OpenSansLight"; */
@font-face {
    font-family: "Open Sans Light";
    src: url("fonts/OpenSansLight.eot");
    src: url("fonts/OpenSansLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansLight.woff") format("woff"),
    url("fonts/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "Open Sans Bold";
    src: url("fonts/OpenSansBold.eot");
    src: url("fonts/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansBold.woff") format("woff"),
    url("fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "Open Sans SemiBold";
    src: url("fonts/OpenSansSemiBold.eot");
    src: url("fonts/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/OpenSansSemiBold.woff") format("woff"),
    url("fonts/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* for Timer */
@font-face {
	font-family: 'Catorze27Style1 SemiBold';
    src: url("fonts/catorze27Style1_SemiBold.eot");
    src: url("fonts/catorze27Style1_SemiBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/catorze27Style1_SemiBold.woff") format("woff"),
    url(fonts/catorze27Style1_SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BOLDfinger';
    src: url('fonts/boldfinger.eot?#iefix') format('embedded-opentype'),
         url('fonts/boldfinger.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Langdon';
    src: url('fonts/langdon.eot?#iefix') format('embedded-opentype'),
         url('fonts/langdon.otf') format('opentype');

    font-weight: normal;
    font-style: normal;

}