@import "font-awesome.css";
@import "../lib/spacedText/spacedText.css";

body > div {
    position: relative;
}

.view-layout *[class^="cmp-"],
.view-layout *[class*=" cmp-"],
.view-layout *[class^="lp-"],
.view-layout *[class*=" lp-"]
{
    display: none !important;
}

.view-layout *[data-editor="lp.text"] > .editor_text {
    border: none !important;
}

.cmp-controls {
    position: absolute;
    left: 0px; right: 0px;
    top: 0px; height: 0;
    display: none;
}

.cmp-cover {
    position: absolute;
    left: 0px; right: 0px;
    top: 0px; bottom: 0px;
    z-index: 100;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    opacity: 0;
}

.map_block_1 .cmp-cover {
    z-index: 0;
}

.cmp-cover.lp-button {
    right: 5px;
    top: 5px;
    left: auto;
    bottom: auto;
    opacity: 0;
}

:hover > .cmp-cover.lp-button,
.cmp-cover:hover {
    opacity: 1;
}

.cmp-cover:not(.lp-button):before {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: -25px;
    margin-left: -25px;
    box-sizing: border-box;
}

.cmp-add-cover {
    top: auto; 
    height: 10px;
    bottom: -10px;
}

.item_block:nth-child(1) .cmp-repeater-cover .fa.fa-trash-o.lp-button:nth-child(2) {
    display: none;
}
.item_block:nth-child(1) .cmp-repeater-cover .fa.fa-plus.lp-button {
    margin-top: -16px;
}

.cmp-repeater-cover,
.cmp-repeater-cover:before
{
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.cmp-repeater-cover {
    bottom: 0;
    position: absolute;
    right: -32px;
    top: 0;
    vertical-align: middle;
    width: 40px;
    display: none;
    padding-left: 10px;
    box-sizing: border-box;

}

.cmp-repeater-cover-inline {
    right: 0px;
}

.cmp-repeater-cover:before {
    content: "";
    position: absolute;
    left: 0; top: 0; bottom: 0;
    width: 9px;
    border: 1px solid #ccc;
    border-left: none;
    box-sizing: border-box;
}

.cmp-repeater-cover-inline:before {
    display: none;
}

div:hover > .cmp-repeater-cover {
    display: block;
}

.cmp-repeater-cover .lp-button {
    position: absolute;
    top: 50%;
    right: 1px;
    margin-top: -31px;
}

.cmp-repeater-cover .lp-button:nth-child(2) {
    margin-top: 0px;
}

.cmp-repeater-cover-inline .lp-button {
    top: 1px;
    right: 1px;
    margin-top: 0;
    z-index: 1001;
}

.cmp-repeater-cover-inline .lp-button:nth-child(2) {
    top: 32px;
}

.cmp-repeater-cover-inline .lp-button:nth-child(3) {
    top: 63px;
}

.lp-button-repeater-add-wrap {
    position: absolute !important;
    top: 100%;
    padding-top: 15px;
    height: 45px;
    left: 0; right: 0;
    display: none;
    text-align: center;
}
.masonry .lp-button-repeater-add-wrap {
    margin-top: -15px !important;
}

*:hover > .lp-button-repeater-add-wrap {
    display: block;
}

.lp-button.lp-button-repeater-add:before {
    position: absolute;
    left: 0; top: 0;
    width: 30px; height: 30px;
    border-right: 1px solid #ccc;
    text-align: center;
    box-sizing: border-box;
}

.lp-button.lp-button-repeater-add {
    position: relative;
    font-size: 16px;
    padding: 0 20px 0 50px;
    margin: 0 auto;
    width: auto;
    opacity: 0.5;
}

.lp-button.lp-button-repeater-add:hover {
    opacity: 1;
}

*[data-editor="lp.repeater"] > div {
    position: relative;
}

*[data-editor="lp.repeater"].dragging .lp-button {
    display: none !important;
}

*[data-dummy] {
    display: none !important;
}

div:hover > .cmp-controls {
    display: block;
}

.lp-button {
    background: #eee;
    border: 1px #ccc solid;
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 22px;
    text-align: center;
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
}

.lp-button:hover {
    color: #777;
}

.lp-button.right {
    float: right;
}

body.dragging .lp-button {
    display: none;
}

*[data-editor] {
    position: relative;
}

.masonry > div[data-name] { 
    position: absolute; 
    top: 0; 
    bottom: 0;
    left: 0 ;
    right: 0;
}

.text_toolbar {
    bottom: 100%;
    left: -1px;
    position: absolute;
    z-index: 2001;
}

[data-editor="lp.icon"] .ico {
    position: relative;
}

.editor_text {
    min-height: 1em;
    border: 1px solid transparent;
}

.editor_text:hover,
.editor_text:focus
{
    border: 1px dashed #f80;
}

body.dragging .editor_text {
    border-color: transparent;
}
