/* heading fonts */
@font-face {
    font-family: "Open Sans";
    src: url("../../../public/assets/fonts/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Open Sans Light";
    src: url("../../../public/assets/fonts/OpenSansLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans Bold";
    src: url("../../../public/assets/fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../../../public/assets/fonts/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Open Sans SemiBold";
    src: url("../../../public/assets/fonts/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../../../public/assets/fonts/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

/* timer fonts */
@font-face {
	font-family: 'Catorze27Style1 SemiBold';
    src: url(../../../public/assets/fonts/catorze27Style1_SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'BOLDfinger';
    src: url('../../../public/assets/fonts/boldfinger.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Langdon';
    src: url('../../../public/assets/fonts/langdon.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}