@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(fonts/RjgO7rYTmqiVp7vzi-Q5UT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format('woff');
}

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/DXI1ORHCpsQm3Vp6mXoaTYraN7vELC11_xip9Rz-hMs.woff) format('woff');
}



@font-face {
    font-family: 'Azariel';
    src: url('fonts/azariel.eot?#iefix') format('embedded-opentype'),
         url('fonts/azariel.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Quicksand Book';
    src: url('fonts/quicksand_book.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_book.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Amazone BT';
    src: url('fonts/amazone.eot?#iefix') format('embedded-opentype'),
         url('fonts/amazone.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Bienville';
    src: url('fonts/bienvill.eot?#iefix') format('embedded-opentype'),
         url('fonts/bienvill.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Book Antiqua';
    src: url('fonts/bookantiqua.eot?#iefix') format('embedded-opentype'),
         url('fonts/bookantiqua.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Cardinal';
    src: url('fonts/cardinal.eot?#iefix') format('embedded-opentype'),
         url('fonts/cardinal.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'DiskusDMed';
    src: url('fonts/diskudmed.eot?#iefix') format('embedded-opentype'),
         url('fonts/diskudmed.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Fabian';
    src: url('fonts/fabian.eot?#iefix') format('embedded-opentype'),
         url('fonts/fabian.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Gabrielle';
    src: url('fonts/gabrielle.eot?#iefix') format('embedded-opentype'),
         url('fonts/gabrielle.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Helvetica LT Narrow';
    src: url('fonts/helvetica2.eot?#iefix') format('embedded-opentype'),
         url('fonts/helvetica2.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Honey Script';
    src: url('fonts/honeyscript_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/honeyscript_light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Honey Script SemiBold';
    src: url('fonts/honeyscript_semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/honeyscript_semibold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ImperialScript';
    src: url('fonts/imperial.eot?#iefix') format('embedded-opentype'),
         url('fonts/imperial.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Neuropol';
    src: url('fonts/neuropol.eot?#iefix') format('embedded-opentype'),
         url('fonts/neuropol.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Octin Sports Free';
    src: url('fonts/octin_sports.eot?#iefix') format('embedded-opentype'),
         url('fonts/octin_sports.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'OhLey';
    src: url('fonts/ohley.eot?#iefix') format('embedded-opentype'),
         url('fonts/ohley.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Old London';
    src: url('fonts/oldlondon.eot?#iefix') format('embedded-opentype'),
         url('fonts/oldlondon.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'P22 Dearest Script';
    src: url('fonts/p22dearest_script.eot?#iefix') format('embedded-opentype'),
         url('fonts/p22dearest_script.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Petemoss';
    src: url('fonts/petemoss.eot?#iefix') format('embedded-opentype'),
         url('fonts/petemoss.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Quicksand Bold';
    src: url('fonts/quicksand_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Quicksand Book Oblique';
    src: url('fonts/quicksand_book_oblique.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_book_oblique.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Quicksand Light';
    src: url('fonts/quicksand_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand_light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Ruthie';
    src: url('fonts/ruthr.eot?#iefix') format('embedded-opentype'),
         url('fonts/ruthr.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Saddlebag';
    src: url('fonts/saddlebag.eot?#iefix') format('embedded-opentype'),
         url('fonts/saddlebag.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Scriptina Pro';
    src: url('fonts/scriptina_pro.eot?#iefix') format('embedded-opentype'),
         url('fonts/scriptina_pro.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Sloop-ScriptOne';
    src: url('fonts/sloopone.eot?#iefix') format('embedded-opentype'),
         url('fonts/sloopone.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Snickles';
    src: url('fonts/snickles.eot?#iefix') format('embedded-opentype'),
         url('fonts/snickles.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Subway';
    src: url('fonts/subway_black.eot?#iefix') format('embedded-opentype'),
         url('fonts/subway_black.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Aaargh';
    src: url('fonts/aaargh.eot?#iefix') format('embedded-opentype'),
         url('fonts/aaargh.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Dodger';
    src: url('fonts/dodger.eot?#iefix') format('embedded-opentype'),
         url('fonts/dodger.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'TeXGyreAdventor';
    src: url('fonts/texgyreadventor_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/texgyreadventor_regular.otf') format('opentype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Trajan Pro';
    src: url('fonts/trajan_pro.eot?#iefix') format('embedded-opentype'),
         url('fonts/trajan_pro.otf') format('opentype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Trajan Bold';
    src: url('fonts/trajan_bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/trajan_bold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Titillium Web';
    src: url('fonts/titillium_web.eot?#iefix') format('embedded-opentype'),
         url('fonts/titillium_web.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Swansea';
    src: url('fonts/swansea.eot?#iefix') format('embedded-opentype'),
         url('fonts/swansea.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Playball';
    src: url('fonts/playball.eot?#iefix') format('embedded-opentype'),
         url('fonts/playball.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Oregon LDO';
    src: url('fonts/oregon_ldo.eot?#iefix') format('embedded-opentype'),
         url('fonts/oregon_ldo.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mytupi';
    src: url('fonts/mytupi_impact.eot?#iefix') format('embedded-opentype'),
         url('fonts/mytupi_impact.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/montserrat_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/montserrat_regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Marcellus';
    src: url('fonts/marcellus_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/marcellus_regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Langdon';
    src: url('fonts/langdon.eot?#iefix') format('embedded-opentype'),
         url('fonts/langdon.otf') format('opentype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Comfortaa';
    src: url('fonts/comfortaa_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/comfortaa_regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Angelina';
    src: url('fonts/angelina.eot?#iefix') format('embedded-opentype'),
         url('fonts/angelina.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arapey';
    src: url('fonts/arapey_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/arapey_regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Average Sans';
    src: url('fonts/average_regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/average_regular.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BOLDfinger';
    src: url('fonts/boldfinger.eot?#iefix') format('embedded-opentype'),
         url('fonts/boldfinger.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Regencie';
    src: url('fonts/regencielight.eot?#iefix') format('embedded-opentype'),
         url('fonts/regencielight.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'Regencie Alt';
    src: url('fonts/regencielightalt.eot?#iefix') format('embedded-opentype'),
         url('fonts/regencielightalt.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Spy Agency';
    src: url('fonts/spyagency.eot?#iefix') format('embedded-opentype'),
         url('fonts/spyagency.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Spy Agency Italic';
    src: url('fonts/spyagencyital.eot?#iefix') format('embedded-opentype'),
         url('fonts/spyagencyital.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Velocity';
    src: url('fonts/velocity.eot?#iefix') format('embedded-opentype'),
         url('fonts/velocity.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Dodger Condensed Italic';
    src: url('fonts/dodger_ci.eot?#iefix') format('embedded-opentype'),
         url('fonts/dodger_ci.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Existence Light';
    src: url('fonts/existence_light.eot?#iefix') format('embedded-opentype'),
         url('fonts/existence_light.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Federal Service';
    src: url('fonts/fedservice.eot?#iefix') format('embedded-opentype'),
         url('fonts/fedservice.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Federal Service Bold';
    src: url('fonts/fedservicebold.eot?#iefix') format('embedded-opentype'),
         url('fonts/fedservicebold.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Federal Service Italic';
    src: url('fonts/fedserviceital.eot?#iefix') format('embedded-opentype'),
         url('fonts/fedserviceital.ttf') format('truetype');

    font-weight: normal;
    font-style: normal;

}


